.navbar {
    background-color: #174a7a;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
  }
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
}
  
.navbar-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  
.navbar-title {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
}
  
.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
.navbar-links li {
    margin-left: 20px;
}
  
.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
}
  
.navbar-links a:hover {
    background-color: #0056b3;
}
  